.forecast-weather {  
  .f-icon {
    margin-right: 10px;
  }

  .subtitle {
    font-weight: bold;
  }

  .img-container {
    text-align: center;
  }

  .degree {
    &:before {
      position: relative;
      top: -8px;
      content: "o";
      font-size: 12px;
    }
  }
}